torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0
vllm==0.11.0
ray[default]==2.53.0
accelerate==1.6.0
transformers==4.57.1
peft==0.15.2
tensordict==0.6.2
torchdata==0.11.0
hydra-core==1.3.2
omegaconf==2.3.0
codetiming==1.4.0
pydantic==2.12.3
wandb==0.19.9
tensorboard==2.20.0
datasets==3.5.0
pyarrow==19.0.1
numpy==2.1.0
pandas==2.2.3
dill==0.3.8
flash-attn==2.8.3
liger-kernel==0.6.4
einops==0.8.1
sympy==1.14.0
pylatexenc==2.10
scipy==1.16.3
regex==2025.11.3
openai==1.99.1
aiohttp==3.12.13
qwen-vl-utils==0.0.14
opencv-python-headless==4.11.0.86
Pillow==11.3.0
scikit-learn==1.8.0
pytesseract==0.3.13
requests==2.32.5
filelock==3.20.1
psutil==7.1.3
cachetools==6.2.4
pyzmq==27.1.0
packaging==25.0
tqdm==4.67.1
safetensors==0.7.0
fastapi==0.115.12
starlette==0.46.2
uvicorn==0.38.0
msgspec==0.20.0
